<div class="col-md-4">
  <h3>Beatles</h3>
  <ul>
    <li ng-repeat="beatle in beatles">
      <span ng-bind="beatle"></span>
    </li>
  </ul>
</div>


<div class="col-md-4">
  <h3>Nirvana</h3>
  <ul>
    <li ng-repeat="nirvana in nirvana">
      <span ng-bind="nirvana"></span>
    </li>
  </ul>
</div>

<div class="col-md-4">
  <h3>EST</h3>
  <ul>
    <li ng-repeat="est in est">
      <span ng-bind="est"></span>
    </li>
  </ul>
</div>

<div class="col-md-4">
  <h3>GYBE</h3>
  <ul>
    <li ng-repeat="gybe in gybe">
      <span ng-bind="gybe.name"></span>
    </li>
  </ul>
</div>
